<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSPBook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 웹어플리케이션에 사용하는 역할을 지정 -->
  <security-role>
  	<role-name>role1</role-name>
  </security-role>
  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>JSPBook</web-resource-name>   <!-- 웹자원의 이름을 설정 -->
  		<url-pattern>/ch10/security01.jsp</url-pattern>
		<http-method>GET</http-method>		<!-- HTTP 메소드를 지정 -->
  		<http-method>POST</http-method>  		
  	</web-resource-collection>
  	
  	<!-- 권한이 부여된 사용자만이 웹자원에 접근할 수 있도록 설정 -->
  	<auth-constraint>
  		<description>보안</description>
  		<role-name>role1</role-name>
  	</auth-constraint>
  </security-constraint>
  
  <login-config>
  	<!-- <auth-method>BASIC</auth-method> -->
   <auth-method>FORM</auth-method>
   <form-login-config>
   		<form-login-page>/ch10/login.jsp</form-login-page>
   		<form-error-page>/ch10/login_failed.jsp</form-error-page>
   		
   </form-login-config>
  </login-config>
    
  
  
  
   
</web-app>